@tailwind base;
@tailwind components;
@tailwind utilities;

/* AntD styles overriding */

.ant-input {
  padding: 6px !important;
}
.ant-form-item-label > label.ant-form-item-required:before {
  content: unset !important;
}
.ant-form-item-explain-error {
  font-size: 14px;
  margin-top: 3px;
}
